header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    background-image: radial-gradient(circle, rgb(0, 17, 255), rgba(0, 0, 0, 0) 100%);
}
nav {
    display: flex;
    gap: 1em;
}
a {
        text-decoration: none;
        color: #fff;
        padding: 0px 4.5em;
}

img {
    height: 100%;
}

.buttons {
    display: flex;
    gap: 60px;
}
.button-1, .button-2 {
    width: 200px;
}